.app-button {
  display: flex;
  align-items: center;
  width: 150px;
  height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 40px;
  color: #696969;
  font-family: Helvetica;
  cursor: pointer;
  overflow: hidden;
}

.app-button:hover {
  background-color: rgba(152, 202, 255, 0.35);
}

.app-button--clicked {
  border: 1px solid rgb(110, 145, 255);
  background-color: rgba(152, 202, 255, 0.35);
}

.app-button--disabled {
  border: 1px solid #ebebeb;
  color: #cbcdcc;
  background-color: #ffffff;
}

.app-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border-right: 1px solid #d7d7d7;
}

.app-button__text {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}
