#app {
  display: flex;
}

.svg-circle {
  background-color: #d2d2d2;
  z-index: 2;
}

.svg-circle:hover {
  background-color: #afafaf;
}

.svg-circle--selected {
  background-color: #47af73;
}

.svg-circle--draggable {
  border: 2px solid #868686;
}
