.tool-bar {
  display: flex;
  justify-content: center;
  width: 96%;
  height: 100%;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
}

.tool-bar__add-relation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.tool-bar__row {
  width: 100%;
  margin-top: 10px;
}

.tool-bar__action-button {
  width: 100%;
}
